.formulaire {
  font-size: 0;
  label {
    width: 20%;
    vertical-align: top;
  }
  input, select, textarea {
    width: 80%;
  }
  select {
    background-color: white;
  }
  label, input, select, textarea, option {
    font-size: 1.6rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
  }
  @media screen and(max-width: 40em) {
    label, input, select, textarea {
      width: 100%;
    }
  }
}

#formAjoutAnnonce #btnAjoutAnnonce {
  margin-left: 20%;
}

@media screen and(max-width: 40em) {
  #formAjoutAnnonce #btnAjoutAnnonce {
    margin-left: inherit;

  }
}