.afficheAnnonce {
  table th{
    font-weight: 600;
  }
  .titre {
    text-align: center;
  }
  .interraction{
    font-size: 0;
    padding: 2rem;
  }
  .contact{
    font-size: 1.8rem;
    width: 50%;
    display: inline-block;
  }
  .gestionAnnonce{
    display: none;
    font-size: 1.5rem;
    width: 50%;
    display: inline-block;
   vertical-align: top;
  a{
    display: none;
    float: right;
  }
  }
}