#formRechercheAnnonce  #btnRechercherAnnonce {
    margin-left: 20%;
  }
  @media screen and(max-width: 40em) {
    #formRechercheAnnonce #btnRechercherAnnonce {
      margin-left: inherit;
    }

}

.listeAnnonces{
  margin-top: 5rem;
 .annonce{
   border: 0.2rem solid #DDDDDD;
   font-size: 0;
   .talon{
     vertical-align: top;

     display: inline-block;
     font-size: 1.4rem;
     width: 20%;
   }
   .description{
     display: inline-block;
     font-size: 1.6rem;
     width: 80%;
   }
   .prixAnnonce{
     float: right;
     font-size: 3rem;
     color: #F60;
   }
 }
}

@media screen and(max-width: 40rem) {
  .listeAnnonces{
    .annonce{
    .talon{
      font-size: 1.2rem;
    }
    .description{
      font-size: 1.4rem;
    }
    .prixAnnonce{
      font-size: 2rem;
    }
  }}
}