.entete {
  background-color: #6F5499;
  color: white;
  padding: 5rem;
  text-align: center; }

.formulaire {
  font-size: 0; }
  .formulaire label {
    width: 20%;
    vertical-align: top; }
  .formulaire input, .formulaire select, .formulaire textarea {
    width: 80%; }
  .formulaire select {
    background-color: white; }
  .formulaire label, .formulaire input, .formulaire select, .formulaire textarea, .formulaire option {
    font-size: 1.6rem;
    padding: 0.2rem;
    border-radius: 0.5rem; }
  @media screen and (max-width: 40em) {
    .formulaire label, .formulaire input, .formulaire select, .formulaire textarea {
      width: 100%; } }

#formAjoutAnnonce #btnAjoutAnnonce {
  margin-left: 20%; }

@media screen and (max-width: 40em) {
  #formAjoutAnnonce #btnAjoutAnnonce {
    margin-left: inherit; } }
#formRechercheAnnonce #btnRechercherAnnonce {
  margin-left: 20%; }

@media screen and (max-width: 40em) {
  #formRechercheAnnonce #btnRechercherAnnonce {
    margin-left: inherit; } }
.listeAnnonces {
  margin-top: 5rem; }
  .listeAnnonces .annonce {
    border: 0.2rem solid #DDDDDD;
    font-size: 0; }
    .listeAnnonces .annonce .talon {
      vertical-align: top;
      display: inline-block;
      font-size: 1.4rem;
      width: 20%; }
    .listeAnnonces .annonce .description {
      display: inline-block;
      font-size: 1.6rem;
      width: 80%; }
    .listeAnnonces .annonce .prixAnnonce {
      float: right;
      font-size: 3rem;
      color: #F60; }

@media screen and (max-width: 40rem) {
  .listeAnnonces .annonce .talon {
    font-size: 1.2rem; }
  .listeAnnonces .annonce .description {
    font-size: 1.4rem; }
  .listeAnnonces .annonce .prixAnnonce {
    font-size: 2rem; } }
.afficheAnnonce table th {
  font-weight: 600; }
.afficheAnnonce .titre {
  text-align: center; }
.afficheAnnonce .interraction {
  font-size: 0;
  padding: 2rem; }
.afficheAnnonce .contact {
  font-size: 1.8rem;
  width: 50%;
  display: inline-block; }
.afficheAnnonce .gestionAnnonce {
  display: none;
  font-size: 1.5rem;
  width: 50%;
  display: inline-block;
  vertical-align: top; }
  .afficheAnnonce .gestionAnnonce a {
    display: none;
    float: right; }

#formEnvoiMail a.btn {
  margin-left: 20%; }

@media screen and (max-width: 40em) {
  #formEnvoiMail a.btn {
    margin-left: inherit; } }
.copyright {
  padding: 5rem; }

.entete img {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=main.css.map */
