{% include 'header.html' %}

<form id="formAjoutAnnonce" class="formulaire" action="insertion" method="post">
    <div class="form-group">
        <label for="titreAnnonce">Titre : </label>
        <input id="titreAnnonce" name="titre" type="text" placeholder="Titre de l'annonce" required>
    </div>
    <div class="form-group">
        <label for="villeAnnonce">Ville : </label>
        <input id="villeAnnonce" name="ville" type="text" placeholder="Ville" required>
    </div>
    <div class="form-group">
        <label for="quartierAnnonce">Quartier : </label>
        <input id="quartierAnnonce" name="quartier" type="text" placeholder="Quartier">
    </div>
    <div class="form-group">
        <label for="superficieAnnonce">Superficie : </label>
        <input id="superficieAnnonce" name="superficie" type="number" step="any" min="0">
    </div>
    <div class="form-group">
        <label for="typeBienAnnonce">Type de bien: </label>
        <select id="typeBienAnnonce" name="typeBien" >
            <option value="appartement">Appartement</option>
            <option value="maison">Maison</option>
        </select>
    </div>
    <div class="form-group">
        <label for="typeAnnonce">Type annonce: </label>
        <select id="typeAnnonce" name="type">
            <option value="location">Location</option>
            <option value="vente">Vente</option>
        </select>
    </div>
    <div class="form-group">
        <label for="nbPieceAnnonce">Nombres de pièces : </label>
        <input id="nbPieceAnnonce" name="nbPieces" type="number" min="0">
    </div>
    <div class="form-group">
        <label for="descriptionAnnonce">Description : </label>
        <textarea id="descriptionAnnonce" name="description" placeholder="Informations supplémentaire"></textarea>
    </div>
    <div class="form-group">
        <label for="prixAnnonce">Prix : </label>
        <input id="prixAnnonce" name="prix" type="number" step="any" min="0" required>
    </div>
    <div class="form-group">
        <label for="mailAnnonce">Adresse mail : </label>
        <input id="mailAnnonce" name="mail" type="email" placeholder="exemple@gmail.com" required>
    </div>
    <div class="form-group">
        <label for="telAnnonce">Télèphone : </label>
        <input id="telAnnonce" name="tel" type="tel" placeholder="0326154879">
    </div>
    <div class="form-group">
        <label for="mdpAnnonce">Mot de passe : </label>
        <input id="mdpAnnonce" name="pass" type="password" required>
    </div>
    <input id="btnAjoutAnnonce" class="btn btn-default" type="submit" value="Ajouter">
</form>


{% include 'footer.html' %}