{% include 'header.html' %}
<div class="afficheAnnonce">
    <h1 class="page-header titre">{{ annonce.titre }}</h1>

    <div class="interraction">
        <div class="contact">
            <p><a href="mail{{ annonce.id|e }}">{{ annonce.email|e }}</a></p>

            <p>{{ annonce.tel|e }}</p>
        </div>
        <div class="gestionAnnonce">
            <a class="btn btn-default" href="supprimer{{ annonce.id }}" role="button">Supprimer</a>
            <a class="btn btn-default" href="editer{{ annonce.id }}" role="button">Modifier</a>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Ville</th>
                <td>{{ annonce.ville|e|capitalize }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ annonce.quartier|e|capitalize }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ annonce.superficie|e }}</td>
            </tr>
            <tr>
                <th>Type de bien</th>
                <td>{{ annonce.typeDeBien|e|capitalize }}</td>
            </tr>
            <tr>
                <th>Type d'annonce</th>
                <td>{{ annonce.typeAnnonce|e|capitalize }}</td>
            </tr>
            <tr>
                <th>Nombre de pièces</th>
                <td>{{ annonce.nbPiece|e }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix|e }} €</td>
            </tr>
            </tbody>

        </table>
        <div class="description">
            <h3>Description : </h3>

            <p>{{ annonce.description|e|capitalize }}</p>

        </div>
    </div>
</div>

{% include 'footer.html' %}