{% include 'header.html' %}

<form id="formEnvoiMail" class="formulaire">
    <label for="destinataire">Destinataire : </label>
    <input id="destinataire" value="{{ annonce.email|e }}" readonly>
    <label for="email">Email :</label>
    <INPUT id="email" type="EMAIL" placeholder="exemple@test.com"/>
    <label for="nom">Nom :</label>
    <INPUT id="nom" type="text"/>
    <label for="message">Message : </label>
    <TEXTAREA id="message" name="message" rows="10" cols="50">Saisir un texte ici.</TEXTAREA>
    <A class="btn btn-default" href="annonce{{ annonce.id|e }}">Retour à l'annonce</A>
    <button class="btn btn-default" type="submit"> Envoyer</button>
</form>
<h1></h1>
{% include'footer.html' %}
