<footer class="copyright">
    <p><small>Copyright © 2015 WITTMANN, IABLIOUNE, BERGERET, BOUNAJRA</small></p>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>