{% include 'header.html' %}
<form id="formRechercheAnnonce" class="formulaire" action="recherche" method="get">
    <div class="form-group">
        <label for="keyWordAnnonce">Mot clés: </label>
        <input id="keyWordAnnonce" name="keyWord" type="text" placeholder="Mots clés">
    </div>
    <div class="form-group">
        <label for="villeAnnonce">Ville : </label>
        <input id="villeAnnonce" name="ville" type="text" placeholder="Ville">
    </div>
    <div class="form-group">
        <label for="quartierAnnonce">Quartier : </label>
        <input id="quartierAnnonce" name="quartier" type="text" placeholder="Quartier">
    </div>
    <div class="form-group">
        <label for="superficieMinAnnonce">Superficie min : </label>
        <input id="superficieMinAnnonce" name="superficieMin" type="number" step="any" min="0">
    </div>
    <div class="form-group">
        <label for="superficieMaxAnnonce">Superficie max : </label>
        <input id="superficieMaxAnnonce" name="superficieMax" type="number" step="any" min="0">
    </div>
    <div class="form-group">
        <label for="typeBienAnnonce">Type de bien: </label>
        <select id="typeBienAnnonce" name="typeBien">
            <option value="appartement">Appartement</option>
            <option value="maison">Maison</option>
        </select>
    </div>
    <div class="form-group">
        <label for="typeAnnonce">Type annonce: </label>
        <select id="typeAnnonce" name="type">
            <option value="location">Location</option>
            <option value="vente">Vente</option>
        </select>
    </div>
    <div class="form-group">
        <label for="nbPieceAnnonce">Nombres de pièces : </label>
        <input id="nbPieceAnnonce" name="nbPieces" type="number" min="0">
    </div>
    <div class="form-group">
        <label for="prixMinAnnonce">Prix min : </label>
        <input id="prixMinAnnonce" name="prixMin" type="number" step="any" min="0">
    </div>
    <div class="form-group">
        <label for="prixMaXAnnonce">Prix max : </label>
        <input id="prixMaxAnnonce" name="prixMax" type="number" step="any" min="0">
    </div>
    <input id="btnRechercherAnnonce" class="btn btn-default" type="submit" value="Rechercher">
</form>
{% if annonces %}
    <div class="listeAnnonces">
        {% for annonce in annonces %}
            <div class="annonce">
                <div class="talon">
                    <p>{{ annonce.created_at }}</p>
                </div>
                <div class="description">
                    <h3><A href="annonce{{ annonce.id|e }}">{{ annonce.titre|e|capitalize }}</A></h3>

                    <p class="prixAnnonce">{{ annonce.prix|e }} €</p>

                    <p>{{ annonce.ville|e|capitalize }}</p>

                    <p>{{ annonce.typeDeBien|e|capitalize }}</p>

                    <p>{{ annonce.typeAnnonce|e|capitalize }}</p>
                </div>
            </div>


        {% endfor %}
    </div>
{% endif %}
{% include 'footer.html' %}